:root {
	--primary-color: #0000ff;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
	font-family: "JetBrains Mono";
	scroll-behavior: smooth;
}

main {
	animation: fadein 3000ms;
}