<section id="DevOps" class="h-screen text-white bg-dark dark:bg-primary">
	<div class="container">
		<span class="text-3xl">#DevOps__</span>
	</div>
	<div class="container flex items-center justify-center h-full text-5xl text-center sm:text-6xl md:text-7xl">
		<span>Coming soon!</span>
	</div>
</section>