<section id="DevOps" class="h-screen text-white bg-dark">
	<div class="container">
		<span class="text-3xl">#DevOps__</span>
	</div>
	<div class="container flex items-center justify-center h-full text-xxl">
		<span>Coming soon!</span>
	</div>
</section>