<section id="Hero" class="pt-24 border-b-4 border-current">
	<div class="container min-h-[calc(100vh-96px)] flex items-center justify-center h-full">
		<div class="grid grid-cols-2 gap-8">

			<div class="col-span-2 lg:col-span-1">
				<img src="img/fam.jpg" alt="" class="object-cover">
			</div>

			<div class="flex flex-col items-start justify-center col-span-2 space-y-8 text-5xl group lg:col-span-1">
				<h1 class="text-5xl sm:text-6xl">
					I'm baby etsy biodiesel cronut skateboard four dollar toast, mustache iPhone hashtag yuccie.
				</h1>
				<div class="flex space-x-8 text-3xl">
					<a href="https://github.com/tgifelix" class="transition-colors duration-300 hover:text-primary">GitHub</a>
					<a href="https://linkedin.com/in/felixswinkels" class="transition-colors duration-300 hover:text-primary">LinkedIn</a>
				</div>
			</div>

			<div class="order-3 col-span-2 py-8 text-3xl text-center lg:text-right">↓</div>
			
		</div>
	</div>
</section>