<nav class="fixed w-screen">
	<div class="container flex items-center justify-between w-full">
		<div class="w-32 h-auto">
			<a href="/">
				<img class="" src="../../img/logo.svg" width="420" heigth="223" alt="logo">
			</a>
		</div>
		<div class="py-8 pl-8 text-black cursor-pointer nav__button">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16m-7 6h7" />
			</svg>
		</div>
	</div>
	<div class="absolute top-0 right-0 z-50 w-screen h-screen text-white transition-transform duration-300 translate-x-full bg-primary nav__menu">
		<div class="container flex justify-end w-full py-8 pl-8 text-white cursor-pointer">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
			</svg>
		</div>
		<div class="container z-50 flex flex-col items-center justify-center py-20 text-5xl text-center sm:text-7xl md:text-8xl lg:text-9xl">
			<a href="#" class="w-full transition-all duration-200 hover:-translate-y-2">About</a>
			<a href="#Showcase" class="w-full transition-all duration-200 hover:-translate-y-2">Showcase</a>
			<a href="#DevOps" class="w-full transition-all duration-200 hover:-translate-y-2">DevOps</a>

			{# {%- for nav in collections.nav -%}
				<a href="{{ nav.url | url }}" class="w-full transition-all duration-200 hover:-translate-y-2">{{ nav.data.navtitle }}</a>
			{%- endfor %} #}
			
			<a href="/" class="pt-4">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
				</svg>
			</a>
		</div>
	</div>
</nav>
