<section id="Showcase" class="w-screen min-h-screen border-b-4 border-current">
	<div class="container">
		<div class="text-3xl text-right">
			#Showcase
		</div>

		<div class="grid grid-cols-1 gap-4 pt-10 lg:grid-cols-2 lg:pt-20">
			<div class="flex flex-col justify-between space-y-8">
				<p class="text-4xl">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Est harum exercitationem cumque, laborum fugiat, sint aliquam quia nesciunt sapiente numquam pariatur laudantium sed hic distinctio deserunt iste illum nemo porro!
				</p>
				<div>
					<div class="pt-2 pb-8 text-sm border-t-2 border-current">Open-Source, ReactJS, BETA</div>
					<div class="pt-2 pb-8 text-sm border-t-2 border-current">
						<a href="https://shortcut.space" class="">Link ⇲</a>
						<a href="https://shortcut.space" class="">Source ⇲</a>
					</div>
				</div>
			</div>
			<div class="overflow-hidden group">
				<img src="img/scs.jpg" alt="Shortcut Space Screenshot" class="transition-transform duration-300 group-hover:scale-105">
			</div>
		</div>

		<div class="grid grid-cols-1 gap-4 pt-10 lg:grid-cols-2 lg:pt-20">
			<div class="flex flex-col justify-between order-2 space-y-8">
				<p class="text-4xl">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Est harum exercitationem cumque, laborum fugiat, sint aliquam quia nesciunt sapiente numquam pariatur laudantium sed hic distinctio deserunt iste illum nemo porro!
				</p>
				<div>
					<div class="pt-2 pb-8 text-sm border-t-2 border-current">Open-Source, ReactJS, BETA</div>
					<div class="pt-2 pb-8 text-sm border-t-2 border-current">
						<a href="https://shortcut.space" class="">Link ⇲</a>
						<a href="https://shortcut.space" class="">Source ⇲</a>
					</div>
				</div>
			</div>
			<div class="order-1 overflow-hidden group">
				<img src="img/scs.jpg" alt="Shortcut Space Screenshot" class="transition-transform duration-300 group-hover:scale-105">
			</div>
		</div>
		
	</div>
</section>